<div class="container">
  <div class="row">
    <div class="col-md-2 col-xs-12">
      <div class="teetime-table" align="center">
        <div class="card" style="width:100%">
           <img class="card-img-top" src="assets/images/teetime.jpg" alt="Card image">
           <div class="card-body">
             <h4 class="card-title">Hoyo 1</h4>
             <p class="card-text">Hora : 6.30 AM</p>
             <a href="#" class="btn btn-primary">Reservar</a>
           </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12">
      <div class="teetime-table" align="center">
        <div class="card" style="width:100%">
          <img class="card-img-top" src="assets/images/teetime.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Hoyo 10</h4>
            <p class="card-text">Hora : 6.40 AM</p>
            <a href="#" class="btn btn-warning">Reservar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
