
.zippy__toolbar__icon {
  padding: 0 50px !important;

}
.zippy__spacer {
  flex: 1 1 auto;
}


.mat-sidenav-layout{
  height: 100%

} 
.example-header-image {
  background-image: url('https://www.w3schools.com/bootstrap4/img_avatar3.png');

  background-size: cover;
}

.zippy--router-outlet{
  position:relative;
  width:100%;
  padding-right:10px;
  margin-top:25px;
  margin-bottom:100px;
  margin-left:10px;
  margin-right:20px !important;
  height:100%;
  min-height:100%;
  display: block;
  overflow: auto;


}


.sidenav-container {
  height: 100%;
  margin-top:60px; 
  margin-right:10px;
}

.sidenav {
  width: 180px;
  box-shadow: 0px 0px 20px black;
  position:fixed;
  min-height: 100%;
  padding-top:55px;
}


.mat-toolbar.mat-primary {
 position: fixed;
 top: 0;
 z-index: 9;
 box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.24);
 border-bottom:1px solid rgb(59, 57, 57);
}

.user__profile {
   font-family: 'Roboto',
   sans-serif;
   font-size:12px !important;

}
.list .mat-list {
  padding-top: 0;
  /* .mat-list also has an additional padding top  */
}

.list .mat-list .mat-list-item {
  height: auto !important;
  /* To avoid calculated height from mat-line-x classes */
}

.zippy__pointer {
  cursor: pointer;
}

.zippy__user__name{
  padding-top:7px;
  font-family: 'Roboto',
  sans-serif;
  font-size:12px !important;

}

.mat-list .mat-list-item {
  height: 30px !important;
  /* default is 72px */
}
