.zippy-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 130px;
  width: 100;
  min-width: 100%;
  /* z-index: 99999;*/
}

.zippy__pointer {
  cursor: pointer;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.zippy--central--content {
  margin-top: 64px;
  margin-bottom: 64px;
  position: relative;
  width: 100%;
}

.class {
  color: "#FFFF"
}
