<mat-sidenav-container    class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <svg style="width:32px;height:32px" viewBox="0 0 24 24">
        <path fill="#FFFFFF" d="M9.29,3.25L5.16,6.72L4,5.34L8.14,1.87L9.29,3.25M22,5.35L20.84,6.73L16.7,3.25L17.86,1.87L22,5.35M13,4A8,8 0 0,1 21,12A8,8 0 0,1 13,20A8,8 0 0,1 5,12A8,8 0 0,1 13,4M13,6A6,6 0 0,0 7,12A6,6 0 0,0 13,18A6,6 0 0,0 19,12A6,6 0 0,0 13,6M12,7.5H13.5V12.03L16.72,13.5L16.1,14.86L12,13V7.5M1,14C1,11.5 2.13,9.3 3.91,7.83C3.33,9.1 3,10.5 3,12L3.06,13.13L3,14C3,16.28 4.27,18.26 6.14,19.28C7.44,20.5 9.07,21.39 10.89,21.78C10.28,21.92 9.65,22 9,22A8,8 0 0,1 1,14Z"
        />
      </svg> &nbsp;TeeTime
    </mat-toolbar>
    <mat-nav-list>
      <!-- User Profile -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
      <div mat-card-avatar class="example-header-image"></div>&nbsp;
<span class="zippy__user__name">Bienvenido Sysadmin</span>

      </mat-panel-title>
      
    </mat-expansion-panel-header>
      <mat-list role="list" >
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><mat-icon class="material-icons md-18">assignment_ind</mat-icon> &nbsp;<span class="user__profile">Perfil</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem"><mat-icon class="material-icons md-18">directions_run</mat-icon> &nbsp;<span class="user__profile">Cerrar sesión</span></mat-list-item>
        <mat-divider></mat-divider>
</mat-list>

     <!-- Content Goes Here -->
  </mat-expansion-panel>
  </mat-accordion>
<mat-list>
  <mat-list-item>
      <a [routerLink]="['dashboard']" mat-list-item href="#">
        <mat-icon class="material-icons md-18">dashboard</mat-icon>
        <span class="nav__element__size"   >Dashboard</span>
      </a>
  </mat-list-item>
  <mat-divider></mat-divider>

</mat-list>
     
   

    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content style="overflow:hidden;">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle();isExpanded = !isExpanded">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <!--here comes routing title -->
         {{ getTitle() }}
      </span>
      
        <span class="zippy__spacer"></span>
          <mat-icon class="zippy_toolbar__icon zippy__pointer material-icons md-18 "
               matTooltip="Notificaciones"
               matBadge = "25" 
               matBadgeSize="medium"
               matBadgePosition="before"
               matBadgeColor="warn"
               matTooltipPosition="left" 
               matTooltipClass = "zippy__tooltip__bg"
               [matMenuTriggerFor]="notificationsMenu">
               notification_important
</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 



        <mat-menu #notificationsMenu="matMenu">
        <mat-card>Notificaciones</mat-card>
          <button mat-menu-item>
            <mat-icon>short_text</mat-icon>
            <span>Notificación 1</span>
          </button>
        <mat-divider></mat-divider>

          <button mat-menu-item>
            <mat-icon>short_text</mat-icon>
            <span>Notificación 2</span>
          </button>
        <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>short_text</mat-icon>
            <span>Notificación 3</span>
          </button>
        </mat-menu>  
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="zippy--router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
