<div class="container"  >
  <div class="row">
    <div class="form-side   animated col-md-{{colForm}}  {{animation}}">
    <div>
      <div style="text-align: center">
        <h3 class="font-logo"><mat-icon >alarm</mat-icon>&nbsp;Programar Teetime</h3><span *ngIf="programColumns" class="pull-right">
          <mat-icon (click)="resizeView()" class="zippy__pointer animated infinite flash">arrow_right_alt</mat-icon>
        </span>
        <mat-divider></mat-divider>

      </div>
      <div>
        <img class="img-responsive thumbnail" height="100" width="410" src="../assets/images/golf11.jpg" alt="">
      </div>
      <br>
      <!-- AQUI VA EL FORMULARIO  -->
              <form [formGroup]="scheduleForm" #f="ngForm" novalidate (ngSubmit)=programmEvent($event)>
                <!-- PLANTILLA -->
               <mat-form-field  >
                 <mat-select class="input-full-width" (selectionChange)="getTemplateValue($event.value)"   placeholder="Configuración">
                   <mat-option disabled="" selected [value]="null">Seleccione un valor</mat-option>
                   <mat-option  [value]="0">Guardada</mat-option>
                   <mat-option  [value]="1">Personalizada</mat-option>
                 </mat-select>
               </mat-form-field>
               &nbsp;
                <!-- if plantillaGuardada -->
               <mat-form-field *ngIf="flagPlantilla" [formGroup]="scheduleForm" >
                 <mat-select  formControlName="plantilla" class="input-full-width"   placeholder="Seleccione la plantilla">
                   <mat-option disabled="" selected [value]="null">Seleccione un valor</mat-option>
                   <mat-option  [value]="0">Plantilla 1</mat-option>
                   <mat-option  [value]="1">Plantilla 2 </mat-option>
                 </mat-select>
               </mat-form-field>
               <br>
               <mat-form-field class="input-full-width" style="display:none" [formGroup]="scheduleForm" >
                 <input formControlName="context"  matInput placeholder="" value="Tee Time Club de Golf">
               </mat-form-field>
                <!-- target -->
               <mat-form-field class="input-full-width" [formGroup]="scheduleForm">
                 <mat-select formControlName = "target"  (selectionChange)="setTargetValue($event.value)"   placeholder="Seleccione el target">
                   <mat-option disabled="" selected [value]="null">Seleccione un valor</mat-option>
                   <mat-option  [value]="0">Ambos</mat-option>
                   <mat-option  [value]="1">Hoyo 1</mat-option>
                   <mat-option  [value]="10">Hoyo 10</mat-option>
                 </mat-select>
               </mat-form-field>
               <mat-form-field class="input-full-width margin-top" [formGroup]="scheduleForm" >
                 <input matInput [matDatepicker]="fechaIni" formControlName="fechaIni" placeholder="Fecha Inicio">
                 <mat-datepicker-toggle matSuffix [for]="fechaIni"></mat-datepicker-toggle>
                 <mat-error>
                   <span *ngIf="!scheduleForm.get('fechaFin').valid && scheduleForm.get('fechaFin').touched">
                     seleccione la fecha inicio
                   </span>
                 </mat-error>
                 <mat-datepicker #fechaIni></mat-datepicker>

               </mat-form-field>
               <mat-form-field class="input-full-width margin-top" [formGroup]="scheduleForm" >
                 <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin" placeholder="Fecha Fin">
                 <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                 <mat-datepicker #fechaFin></mat-datepicker>
                 <mat-error>
                   <span *ngIf="!scheduleForm.get('fechaFin').valid && scheduleForm.get('fechaFin').touched">
                     seleccione la fecha fin
                   </span>
                 </mat-error>
               </mat-form-field>
                <br>
                <mat-form-field class="input-full-width">
                  <input matInput min="1" step="1" type="number" placeholder="Intervalo de Tiempo (minutos)" formControlName="size">
                   <mat-error>
                   <span *ngIf="!scheduleForm.get('size').valid && scheduleForm.get('size').touched">
                     ingrese el intervalo de tiempo en minutos
                   </span>
                  </mat-error>
                </mat-form-field>
                <br>
                <section class="days-section" >
                  <div >
                    <span class="form-title">Dias de la semana con servicio</span>
                    <br>
                    <!-- Dias de la semana -->
                    <mat-checkbox class="example-margin"    formControlName="lunes"  labelPosition = 'after' >
                       Lun
                    </mat-checkbox> &nbsp;
                    <mat-checkbox class="example-margin"    formControlName="martes"  labelPosition = 'after' >
                       Mar
                    </mat-checkbox>&nbsp;
                    <mat-checkbox class="example-margin"    formControlName="miercoles"  labelPosition = 'after'>
                       Mie
                    </mat-checkbox>&nbsp;
                    <mat-checkbox class="example-margin"    formControlName="jueves"  labelPosition = 'after' >
                       Jue
                    </mat-checkbox>&nbsp;
                    <mat-checkbox class="example-margin"    formControlName="viernes"  labelPosition = 'after'>
                       Vie
                    </mat-checkbox>&nbsp;
                    <mat-checkbox class="example-margin"    formControlName="sabado"  labelPosition = 'after' >
                       Sab
                    </mat-checkbox>&nbsp;
                    <mat-checkbox class="example-margin"    formControlName="domingo"  labelPosition = 'after'>
                       Dom
                    </mat-checkbox>&nbsp;
                  </div>
                </section>
                <br>
                <span class="form-title">Horas de Servicio</span>
                <br>
                <div>
                <mat-form-field  >
                  <input matInput   type="time" placeholder="Hora desde" formControlName="horDesde">
                  <mat-error>
                   <span *ngIf="!scheduleForm.get('horDesde').valid && scheduleForm.get('horDesde').touched">
                     ingrese la hora desde
                   </span>
                  </mat-error>
                </mat-form-field>
              &nbsp;
                <mat-form-field  >
                  <input matInput   type="time" placeholder="Hora hasta" formControlName="horHasta">
                  <mat-error>
                   <span *ngIf="!scheduleForm.get('horHasta').valid && scheduleForm.get('horHasta').touched">
                     ingrese la hora hasta
                   </span>
                  </mat-error>
                </mat-form-field>
                  &nbsp;
                  <mat-icon class="zippy__pointer" (click)="addLaborHour(scheduleForm.get('horDesde'), scheduleForm.get('horHasta').value)">add</mat-icon>

                <br>
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hora Desde</th>
                    <th scope="col">Hora Hasta</th>
                    <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>

                  </tbody>
                </table>
                </div>
              </form>
       <!-- FIN DE FORMULARIO -->

    </div>
    </div>
    <div *ngIf="flagProgram"  class="calendar-side animated {{animation}} offset-{{ offset }}  col-md-{{colCalendar}}">
      <div  style="background: #FFF; padding:20px">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Anterior
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Hoy
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>

      </div>
      <br>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
           (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
           (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
           (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
        </div>
      </div>
    </div><!-- FIN COL MD 8 -->
    <div *ngIf="!flagProgram" class="offset-{{offset}}  col-md-7">
      <div style="text-align: center; margin-top: 20vh">
        <mat-icon class="material-icons  md-lg">alarm</mat-icon><br>&nbsp;
        <div  >

          <p>
          <span style="text-align: center; color:#EEEEEE">
              Realice una programacion de Teetime<br>
              para previsualizarla aquí
            </span>
          </p>
        </div>
      </div>
    </div>
    </div>
</div>


