<div class="container">

  <div class="row">

  </div>


</div>
   <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> -->
  
    <!-- Position Column -->
  <!--  <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
 <!--   <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> -->
  
    <!-- Weight Column -->
  <!--  <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  -->
    <!-- Symbol Column -->
 <!--   <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator> -->


  <div class="container">
  <!-- New table with paginator, search input, sort and colors by rows-->

  
  <div class="mat-elevation-z8">
    <mat-toolbar class="title-table" color="accent">

      <mat-toolbar-row>
        <mat-icon class="icon-table">{{ catalogIcon }}</mat-icon>
        <div class="col-md-8">

          {{ catalogTitle }}

        </div>
        <span class="table-spacer"></span>
        <div class="col-md-4">


          <mat-form-field >
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
          </mat-form-field>

        </div>
      </mat-toolbar-row>
    </mat-toolbar>
      <table mat-table [dataSource]="dataSource" matSort class="table-hover">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let element" > {{element[column]}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      <!--  
        <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" matSort class="table-hover">
      <!-- ID Column -->
    <!--  <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <!-- <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>
  
      <!-- Name Column -->
     <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Color Column -->
     <!-- <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table> -->
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> 
  </div>

</div>

   <div class="btn-group">
     <button (click)="openBottomSheet()" class="btn btn-success btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Agregar / Modificar" title="" id="main">
       <i class="fas fa-edit"></i>
     </button>
   </div>
