/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
    font-family: 'Roboto',
    sans-serif;

}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
  height: auto;
  min-height: 100% !important;
    box-sizing: border-box;


}

.zippy__tooltip__bg{
  background: rgb(255, 187, 0);
  color:#000000 !important;
}

body {
  
}

 /* Rules for sizing the icon. */
.material-icons.md-12 {
  font-size: 12px;
}

 .material-icons.md-18 {
   font-size: 18px;
 }

 .material-icons.md-24 {
   font-size: 24px;
 }

 .material-icons.md-36 {
   font-size: 36px;
 }

 .material-icons.md-48 {
   font-size: 48px;
 }

 .nav__element__size {
   font-family: 'Roboto', sans-serif;
   font-size: 12px !important;
 }
